In [1]:
#importing libraries 
import pandas as pd
import numpy as np

In [2]:
mainDF=pd.read_csv(r'C:\Users\goswa\Documents\Covid-19\covid_19_india.csv')

In [3]:
mainDF.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

##### Removing unnecessary features like S.no, Time, ConfirmedIndianNational and ConfirmedForeignNational

In [4]:
mainDF=mainDF.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational'],axis=1)

In [5]:
mainDF.head()

         Date State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30               Kerala      0       0          1
1  2020-01-31               Kerala      0       0          1
2  2020-02-01               Kerala      0       0          2
3  2020-02-02               Kerala      0       0          3
4  2020-02-03               Kerala      0       0          3

In [6]:
#Converting to DateTime
mainDF['Date']=pd.to_datetime(mainDF['Date'])

In [7]:
mainDF.head()

        Date State/UnionTerritory  Cured  Deaths  Confirmed
0 2020-01-30               Kerala      0       0          1
1 2020-01-31               Kerala      0       0          1
2 2020-02-01               Kerala      0       0          2
3 2020-02-02               Kerala      0       0          3
4 2020-02-03               Kerala      0       0          3

## Handling Categorical Values

State/Union Territory is Categorical Variable

In [8]:
#importing library 
from sklearn.preprocessing import LabelEncoder

In [9]:
labelencoder=LabelEncoder()
mainDF['State/UnionTerritory']=labelencoder.fit_transform(mainDF['State/UnionTerritory'])

In [10]:
mainDF.head(100)

         Date  State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30                    20      0       0          1
1  2020-01-31                    20      0       0          1
2  2020-02-01                    20      0       0          2
3  2020-02-02                    20      0       0          3
4  2020-02-03                    20      0       0          3
..        ...                   ...    ...     ...        ...
95 2020-03-10                    36      0       0          1
96 2020-03-10                    17      0       0          1
97 2020-03-11                    24      0       0          2
98 2020-03-11                    12      0       0          5
99 2020-03-11                    15      0       0         14

[100 rows x 5 columns]

In [11]:
mainDF.to_csv('after_feature_engg',index=False)